/* Stylesheet sesuai kebutuhan Anda */
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Ubuntu:wght@500&display=swap");

@font-face {
  font-display: fallback;
  font-family: FS_Numbers;
  font-style: normal;
  font-weight: 400;
  src: url(https://cintakuaja68.github.io/assets/font/FS_Numbers.woff2)
    format("woff2");
}

body {
  background-color: #091018;color: #bdb7b7;
  font-family: 'Righteous';
}
main {
  min-height: 71vh;
}
h1 {
  font-size: 1.8rem;
}

 @media (min-width: 1200px){
  .padd {
    padding-left: 105px;
    padding-right: 8%;
}
  }
  @media (min-width: 768px) {
    header {
      display: none;
    }
    .card-title {
      font-size: 12px !important;
  }
  }
  @media (max-width: 576px) {
    .row>* {
      width: 50%;
    }
    .card-title {
      font-size: 12px !important;
  }

    #suggestions {
      right: 106px;
  }

.wadahPerson>* {
    width: 100%;
}
.imgActor {
  width: 80%;
    padding-left: 70px;
    padding-bottom: 15px;
}
.rowAs {
  --bs-gutter-x: 0.3rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-1.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}
.movieActing {
  width: 75%;
}
  }


  /* @media (max-width: 767px) and (orientation: landscape){
    .resPost {
      width: 24.666667% !important;
    }
  } */
  .py-5-custom {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .image-container {
    display: flex;
    flex-wrap: wrap;
  }

  .image-item {
    margin: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .card-img-top {
    border-radius: 5px;
  }
    .cardx {
    border:none !important;
    --bs-card-bg: #fff0;
  }
  

  .card-body {
    flex: 1 1 auto;
    padding: 6px;
    color: var(--bs-card-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-image: linear-gradient( to top, #000000e3, #000000d6, #000000d6, #000000cf, #000000c7, #000000b8, #000000ab, #000000ad, #00000091, #00000078, #00000047, #00000000 )
  }
  .card-text {
    font-size: 11px;
    font-family:'FS_Numbers';
  }
  .card-title {
    font-size: 15px;
  }

  .lead {
    font-size: 14px;
  }
  .rang {
    font-size: 13px;
    font-family: 'FS_Numbers';
    color: #e1ff00;
    position: absolute;
    top: 0;
    right: 0;
    text-shadow: 0 0 3px #000000;
    /* border: 2px solid yellow; */
    margin: 4px;
    padding: 0px 4px;
    border-radius: 5px;
  }
  .rang-right {
    font-size: 13px;
    font-family: 'FS_Numbers';
    color: #e1ff00;
    position: absolute;
    top: 0;
    text-shadow: 0 0 3px #000000;
    /* border: 2px solid yellow; */
    margin: 4px;
    padding: 0px 4px;
    border-radius: 5px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 999;
  }
  .overlayPerson {
    z-index: unset !important;
  }
  .card:hover .overlay {
    opacity: 1;
  }
  .now-playing-movie:hover .overlay {
    opacity: 1;
  }
  .now-playing-tv-show:hover .overlay {
    opacity: 1;
  }
  .play-icon {
    color: #009fff;
    font-size: 45px;
  }
  .yearS {
    color: yellowgreen;
  }

  .posterPath {
    height: 246px !important;
  }

  .navbar {
    --bs-navbar-color: white;
    --bs-navbar-hover-color: #fb00ed;
    --bs-navbar-disabled-color: grey;
    --bs-navbar-active-color: #00b2ff;
    --bs-navbar-brand-color: #fb00ed;
    --bs-navbar-brand-hover-color: #008aff;
  }

  .navbar-toggler {
    padding: 0px 2px;
    color: var(--bs-navbar-color);
    background-color: #cbd3db;
    border: 1px solid;
  }
  .navbar-toggler-icon {
    width: 1.3em !important;
    height: 1.3em !important;
  }
  .emox {
    margin-bottom: 1.5rem!important;
  }

  .btn{
    --bs-btn-color: #46739f !important;
  }

  .pege {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    cursor: pointer;
  }
  .fa-reply-all {
    /* transform: rotate(90deg); */
    font-size: 30px;
    position: relative;
    left: -1%;
    top: 8px;
}
.backTo {
  cursor: pointer;
  text-decoration-line: none;
}
.movieColor {
  color:#00b2ff;
}
.tvColor {
  color:#fb00ed;
}
.combinedCredits {
display: flex;
    overflow: overlay;
}


  /* loading page */
  .page-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(1 12 22);
    z-index: 1000;
  }

  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 4s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  a.moreList {
    color: #bdb7b7;
    text-decoration: none;
  }
  a.moreList:hover {
   color:#00b2ff;
  }
  .moreListArrow {
    font-size: 24px;
  }
  .wadahActing {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #80808040;
    padding-top: 10px;
    align-items: baseline;
  }
  .wadahActing:hover {
    background-color: #0266fb05;
  }
  .mediaTypeActing {
    width: 80px;
  }
  .actingASspan {
    color:#befb028f;
  }
  .personAs {
    font-family: system-ui;
  }
  .movieActing {
   
  }
  .rowAs {
     
  }

  .img-creditDetail {
 
  }

